//- client/components/home/home.jade
template(name='home')
  .jumbotron
    h1 TODO List
    a.btn.btn-primary.btn-lg(href='https://github.com/ovcharik/meteor-getting-started', target='_blank') Source code
